/* CSS for All */
*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    margin: 0 auto;
    padding: 1%;
}
.img-responsive{
    width: 100%;
}
.img-curve{
    border-radius: 15px;
}

.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-white{
    color: white;
}

.clearfix{
    clear: both;
    float: none;
}

a{
    color: #ff6b81;
    text-decoration: none;
}

a:hover{
    color: #ff4757;
}

.btn{
    font-size: 1rem;
}

.btn-primary{
    background-color: #ff6b81;
    color: white;
    cursor: pointer;
}
.btn-primary:hover{
    color: white;
    background-color: #ff4757;
}
h2{
    color: #2f3542;
    font-size: 2rem;
    margin-bottom: 2%;
}
h3{
    font-size: 1.5rem;
}
.float-container{
    position: relative;
}
.float-text{
    position: absolute;
    bottom: 50px;
    left: 40%;
}
fieldset{
    border: 1px solid white;
    margin: 5%;
    padding: 3%;
    border-radius: 5px;
}


/* CSS for Categories */
.categories{
    padding: 4% 0;
}

.box-3{
    width: 28%;
    float: left;
    margin: 2%;
}


/* css for cars page */
.car-menu {
    background-color: #ececec;
    padding: 2% 0;
}

.car-menu-box {
    width: 43%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: aliceblue;
    border-radius: 15px;
}

.car-menu-img {
    width: 20%;
    float: left;
}

.car-menu-desc {
    width: 70%;
    float: left;
    margin-left: 8%;
}

.car-price {
    font-size: 1.2rem;
    margin: 2% 0;
}

.car-detail {
    font-size: 1rem;
    color: #747d8c;
}

/* CSS for Social */
.social-end-page {
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}

.social-end-page ul li {
    text-decoration: none;
    list-style: none;
    display: inline;
    text-align: center;
}

/* for Order Section */
.order{
    width: 50%;
    margin: 0 auto;
}

.input-responsive{
    width: 96%;
    padding: 1%;
    margin-bottom: 3%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

.order-label{
    margin-bottom: 1%; 
    font-weight: bold;
}


/* Error and Success */
.success {
    padding: 2%;
    color: #2ed573;
}

.error {
    padding: 2%;
    color: #ff4757;
}


/* CSS for Mobile Size or Smaller Screen */

@media only screen and (max-width:768px){
    .logo{
        width: 80%;
        float: none;
        margin: 1% auto;
    }

    .menu ul{
        text-align: center;
    }

    .food-search input[type="search"]{
        width: 90%;
        padding: 2%;
        margin-bottom: 3%;
    }

    .btn{
        width: 91%;
        padding: 2%;
    }

    .food-search{
        padding: 10% 0;
    }

    .categories{
        padding: 20% 0;
    }
    h2{
        margin-bottom: 10%;
    }
    .box-3{
        width: 100%;
        margin: 4% auto;
    }

    .car-menu{
        padding: 20% 0;
    }

    .car-menu-box{
        width: 90%;
        padding: 5%;
        margin-bottom: 5%;
    }
    .social{
        padding: 5% 0;
    }
    .order{
        width: 100%;
    }
}



/* CSS for footer icons */

.foot ul{
    list-style-type: none;
}
.foot ul li {
    display: inline-flex;
    margin-right: 2%;
}


/* about us */

.about-us ul li {
    margin-left: 3%;
    list-style-type: circle;
}
.about-us h3:hover{
    color: #ff4757;
    transition: all ease .5s;
}
.profile-card .image img{
    margin: 0 auto;
    padding: 0;
    width: 210px;
    height: 210px;
    border-radius: 20%;
}

/* contact us page */

.contact-us{
    display: flex;
    width: 100%;
    height: 550px;
    margin-top: 5%;
}
.contact-us .form {
    margin-left: 2%;
    background-color: rgb(179, 171, 171);
}

.contact-us .form .left-side{
    margin-left: 3%;
    float: left;
}
.contact-us .form .right-side {
    float: right;
    margin-right: 10%;
}

.contact-us .form label {
    margin-top: 5%;
}
.contact-us .form input[type="submit"] {
    margin-left: 57%;
}

.contact-us .contact-information{
    margin-left: 1%;
    align-items: flex-start;
}

/* confirmation */
.confirmation-form {
    float: inline-end;
    width: 50%;
    align-items: center;
    
}

.form-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-holder .form-content {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 60px;
}

.form-content .form-items {
    border: 3px solid black;
    padding: 40px;
    display: inline-block;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.form-content h3 {
    color: #fff;
    text-align: left;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
}

.form-content h3.form-title {
    margin-bottom: 30px;
    color: black;
}

.form-content p {
    color: #fff;
    text-align: left;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 30px;
}


.form-content input[type=text],
.form-content input[type=email] {
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    outline: 0;
    border-radius: 6px;
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: 16px;
}


.btn-primary {
    background-color: #6C757D;
    outline: none;
    border: 0px;
    box-shadow: none;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #495056;
    outline: none !important;
    border: none !important;
    box-shadow: none;
}

.mv-up {
    margin-top: -9px !important;
    margin-bottom: 8px !important;
}


/* services available page */

.services {

    margin-left: 20%;
    padding: 0;
    align-items: center;
}

.service-box {
    width: 70%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: aliceblue;
    border-radius: 15px;
}

.service-img {
    width: 20%;
    float: left;
}

.service-desc {
    width: 70%;
    float: left;
    margin-left: 8%;
}

.car-price {
    font-size: 1.2rem;
    margin: 2% 0;
}

/* spare part order section */
.spare-part-order {
    width: 50%;
    margin: 0 auto;
}

.input-responsive {
    width: 96%;
    padding: 1%;
    margin-bottom: 3%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

.spare-part-order-label {
    margin-bottom: 1%;
    font-weight: bold;
}


.spare-part-img {
    width: 20%;
    float: left;
}

.spare-part-desc {
    width: 70%;
    float: left;
    margin-left: 8%;
}

.spare-part-price {
    font-size: 1.2rem;
    margin: 2% 0;
}

.spare-part-detail {
    font-size: 1rem;
    color: #747d8c;
}

.order-page .container{
    border: 3px border black;
}