.order-info {
    width: 100%;
}
.main-detail {
    width: 100%;
    height: 10vh;
}

.main-detail-row {
    display: flex;
}

.main-detail .name {
    margin: auto;
}

.main-detail .status {
    margin: auto;
}
.main-detail .expected-complition {
    margin: auto;
}

.main-detail input[type='text']{
    border: none;
    height: 50px;
    padding: 5px;
    margin-left: 0.1%;
    color: rgb(0, 0, 0);
}

.order-details {
    width: 80%;
    margin: auto;
}

.car-image img{
    margin-left: 6%;
}
.details input[type='text']{
    margin: auto;
    border: none;
    width: 25%;
    color: rgb(0, 0, 0);
}
.pricing-color {
    margin-top: 20px;
}
.status-info {
    margin-top: 5%;
}

.status-info ul li {
    list-style-type: circle;
    margin-left: 10%;
    font-size: 24px;
}
